<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPerCallWithConcurrentMode" />
                <binding name="BasicHttpBinding_IPerCallWithReentrantMode" />
                <binding name="BasicHttpBinding_IPerCallWithSingleMode" />
                <binding name="BasicHttpBinding_IPerSessionWithConcurrentMode" />
                <binding name="BasicHttpBinding_IPerSessionWithReentrantMode" />
                <binding name="BasicHttpBinding_IPerSessionWithSingleMode" />
                <binding name="BasicHttpBinding_ISingleInstanceWithConcurrentMode" />
                <binding name="BasicHttpBinding_ISingleInstanceWithReentrantMode" />
                <binding name="BasicHttpBinding_ISingleInstanceWithSingleMode" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8711/WCF.Service.Concurrency/PerCallWithConcurrentMode/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPerCallWithConcurrentMode"
                contract="PerCallWithConcurrentMode.IPerCallWithConcurrentMode"
                name="BasicHttpBinding_IPerCallWithConcurrentMode" />
            <endpoint address="http://localhost:8711/WCF.Service.Concurrency/PerCallWithReentrantMode/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPerCallWithReentrantMode"
                contract="PerCallWithReentrantMode.IPerCallWithReentrantMode"
                name="BasicHttpBinding_IPerCallWithReentrantMode" />
            <endpoint address="http://localhost:8711/WCF.Service.Concurrency/PerCallWithSingleMode/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPerCallWithSingleMode"
                contract="PerCallWithSingleMode.IPerCallWithSingleMode" name="BasicHttpBinding_IPerCallWithSingleMode" />
            <endpoint address="http://localhost:8711/WCF.Service.Concurrency/PerSessionWithConcurrentMode/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPerSessionWithConcurrentMode"
                contract="PerSessionWithConcurrentMode.IPerSessionWithConcurrentMode"
                name="BasicHttpBinding_IPerSessionWithConcurrentMode" />
            <endpoint address="http://localhost:8711/WCF.Service.Concurrency/PerSessionWithReentrantMode/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPerSessionWithReentrantMode"
                contract="PerSessionWithReentrantMode.IPerSessionWithReentrantMode"
                name="BasicHttpBinding_IPerSessionWithReentrantMode" />
            <endpoint address="http://localhost:8711/WCF.Service.Concurrency/PerSessionWithSingleMode/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPerSessionWithSingleMode"
                contract="PerSessionWithSingleMode.IPerSessionWithSingleMode"
                name="BasicHttpBinding_IPerSessionWithSingleMode" />
            <endpoint address="http://localhost:8711/WCF.Service.Concurrency/SingleInstanceWithConcurrentMode/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISingleInstanceWithConcurrentMode"
                contract="SingleInstanceWithConcurrentMode.ISingleInstanceWithConcurrentMode"
                name="BasicHttpBinding_ISingleInstanceWithConcurrentMode" />
            <endpoint address="http://localhost:8711/WCF.Service.Concurrency/SingleInstanceWithReentrantMode/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISingleInstanceWithReentrantMode"
                contract="SingleInstanceWithReentrantMode.ISingleInstanceWithReentrantMode"
                name="BasicHttpBinding_ISingleInstanceWithReentrantMode" />
            <endpoint address="http://localhost:8711/WCF.Service.Concurrency/SingleInstanceWithSingleMode/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISingleInstanceWithSingleMode"
                contract="SingleInstanceWithSingleMode.ISingleInstanceWithSingleMode"
                name="BasicHttpBinding_ISingleInstanceWithSingleMode" />
        </client>
    </system.serviceModel>
</configuration>